.div_welcome {
  height: 400px;
  border: 2px solid grey;
  display: flex;
  flex-direction: column;
  padding: 10%;
  align-items: center;
}

.div_name-input {
  width: 310px;
}

input {
  text-align: center;
  width: 300px;
  margin-bottom: 3%;
}

button {
  width: 305px;
  background: #2db34a;
  transition-property: background;
  transition-duration: 0.2s;
  transition-timing-function: linear;
}

input, button {
  outline: none;
  height: 40px;
  border-radius: 5px;
}

input {
  color: black;
  border: 1px solid white;
}

button:hover {
  background-color: darkslategrey;
  color: white;
  transform: scale(1.04);
  cursor: pointer;
  font-size: 0.7em;
  font-weight: 900;
  box-shadow: 2px 2px 3px green;
}

#no_name_error {
  color: red;
}