.div_welcome {
  position: fixed;
  top: 5%;
  left: 15%;
  display: flex;
  height: 400px;
  flex-direction: column;
  padding: 10%;
  align-items: center;
  background-color: black;
}

.div_name-input {
  width: 310px;
}

input {
  text-align: center;
  width: 300px;
  margin-bottom: 3%;
}

button {
  width: 305px;
  background: #2db34a;
  transition-property: background;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  box-shadow: 2px 1px 5px 1px black;
}

input, button {
  outline: none;
  height: 40px;
  border-radius: 5px;
}

input {
  color: black;
  border: 1px solid white;
}

button:hover {
  background-color: darkslategrey;
  color: white;
  transform: scale(0.99);
  cursor: pointer;
  font-weight: 900;
  box-shadow: -1px -1px 1px 0px black;
  border: 1px solid black;
}

#no_name_error {
  color: red;
  text-align: center;
}

#title {
  margin-top: 0px;
  font-size: 4.5em;
}
