nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 10px;
}

.div_welcome-logout {
  text-align: center;
  width: 200px;
  margin-right: 10%;
}

.nav_logout-btn {
  width: 200px;
}