nav {
  margin-left: 8%;
  margin-bottom: 4%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.div_welcome-logout {
  text-align: center;
  width: 200px;
  margin-right: 8%;
}

.nav_logout-btn {
  width: 200px;
}

button {
  border-radius: 30px;
}