#where_prompt {
  margin-left: 8%;
}

.destinations, .rockets {
  width: 100%;
  margin-left: 3%;
  display: flex;
  flex-wrap: wrap;
}

.rockets {
  margin-bottom: 30%;
}

.destinations {
  margin-top: -50px;
  margin-bottom: 5%;
}

.destination_image {
  width: 140px;
  height: 140px;
  border-radius: 80px;
}

.destination-card, .rocket-card {
  background: rgba(0, 0, 0, 50%);
  border: 1px solid darkgreen;
  border-radius: 10px;
  margin: 1%;
  text-align: center;
}

.destination-card:hover, .rocket-card:hover {
  transform: scale(0.99);
  cursor: pointer;
}

.chosen-card {
  border-radius: 10px;
  margin: 1%;
  text-align: center;
  border: 1px solid black;
  box-shadow: -4px 0px 10px 2px black;
  background: darkslategray;
}

.chosen-rocket {
  border: 1px solid black;
  box-shadow: -4px 0px 10px 2px black;
  background: darkslategray;
  border-radius: 10px;
  margin: 1%;
  text-align: center;
  width: 220px;
}

.destination-card, .chosen-card {
  margin-top: 10%;
  width: 160px;
  height: 200px;
}

.destination_p {
  height: 20px;
}

.rocket-card {
  width: 220px;
}

.rocket_image {
  height: 420px;
  margin-top: 5%;
  border-radius: 10px;
}

.destination_input, .rocket_input {
  margin-left: 45%;
}

.rocket-footer_h3 {
  color: white;
}

.rocket-footer {
  position: fixed;
  bottom: 5%;
  left: -1%;
  width: 30%;
  padding: 1%;
  margin-left: 12%;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 80%);
  border: 1px solid green;
  border-radius: 10px;
  text-align: center;
  box-shadow: -4px 0px 10px 2px black;
  font-weight: 900;
}