#where_prompt {
  margin-left: 8%;
}

.destinations, .rockets {
  width: 100%;
  margin-left: 3%;
  display: flex;
  flex-wrap: wrap;
  border-bottom: 3px solid grey;
}

.destination_image {
  width: 140px;
  height: 140px;
  border-radius: 10px;
}

.destination-card, .rocket-card {
  border: 1px solid grey;
  border-radius: 10px;
  margin: 1%;
  text-align: center;
}

.destination-card {
  margin-top: 10%;
  width: 160px;
  height: 200px;
}

.destination_p {
  height: 20px;
}

.rocket-card {
  width: 220px;
}

.rocket_image {
  height: 420px;
}

.destination_input, .rocket_input {
  margin-left: 45%;
}

.rocket-footer_h3 {
  color: black;
}

.rocket-footer {
  width: 30%;
  padding: 1%;
  position: fixed;
  top: 14%;
  right: 2%;
  margin-left: 12%;
  display: flex;
  flex-direction: column;
  background-color: grey;
  border: 1px solid lime;
  border-radius: 10px;
  text-align: center;
}