* {
  color: white;
}

main {
  background-image: url('../../images/stars.jpg');
  margin-bottom: 200px;
}

.farmer {
  color: #2DB342;
}

.farmer:hover {
  cursor: default;
  color: greenyellow;
}

h1:hover, p:hover {
  cursor: default;
}
