.tractors, .dirt, .hoes, .seeds {
  width: 800px;
  margin-left: 3%;
  display: flex;
  border-bottom: 3px solid grey;
}

h4 {
  margin-left: 35%;
}

img {
  width: 100%;
  height: 60%;
}

.supplies {
  display: grid;
}

.supply-card {
  margin: 1%;
  padding: 2%;
  border: 1px solid green;
  border-radius: 10px;
  width: 27%;
  height: 220px;
}

.supply-footer {
  width: 20%;
  padding: 1%;
  position: fixed;
  top: 23%;
  right: 2%;
  margin-left: 12%;
  display: flex;
  flex-direction: column;
  background-color: grey;
  border: 1px solid black;
  border-radius: 10px;
}

#totalcost, #totalweight{
  color: black;
  font-size: 18px;
  text-align: center;
  background: transparent;
}

.footer-text, .footer-btn, a {
  background: transparent;
}

.symbols {
  color: lime;
  background-color: grey;
}

.supply-btn {
  width: 100%;
}