.space-background {
  height: 600px;
  width: 1000px;
  animation: x 13s linear infinite alternate;
}

@keyframes space-background {
  100% {
    transform: translateX(calc(100vw - 100px));
  }
}

#space_pig {
  position: relative;
  z-index: -10;
  height: 300px;
  animation: y 17s linear infinite alternate;
}

@keyframes space_pig {
  100% {
    transform: translateY(calc(100vh - 100px));
  }
}

.proposal-container {
  display: flex;
  margin-left: 8%;
}

.proposal-card {
  text-align: center;
  padding: 1%;
  margin: 1%;
  width: 200px;
  border: 2px solid grey;
  background-color: rgba(100, 100, 100, 50%);
  border-radius: 10px;
}

h3 {
  background-color: transparent;
}

.section_create {
  text-align: center;
}

.create_btn {
  margin-top: 5%;
}

.red-text {
  color: red;
}

/* img, div {
  width: 100px;
  height: 100px;
}   Parent and child should be same width height...*/

@keyframes x {
  100% {
    transform: translateX(calc(100vw - 100px));
  }
}

@keyframes y {
  100% {
    transform: translateY(calc(100vh - 100px));
  }
}