.space-background {
  float: left;
  animation: x 13s linear infinite alternate;
}

#space_pig {
  height: 300px;
  animation: y 17s linear infinite alternate;
}

@keyframes x {
  100% {
    transform: translateX(calc(80vw - 50px));
  }
}

@keyframes y {
  100% {
    transform: translateY(calc(40vh - 50px));
  }
}

.proposal-container {
  display: flex;
  margin-left: 8%;
  text-align: center;
}

.proposal-card {
  text-align: center;
  padding: 1%;
  margin: 1%;
  width: 200px;
  border: 2px solid grey;
  background-color: rgba(100, 100, 100, 50%);
  border-radius: 10px;
}

h3 {
  background-color: transparent;
}

.section_create {
  text-align: center;
}

.create_btn {
  margin-right: 50%;
  position: relative;
  z-index: 1000;
  margin-top: 5%;
}

.red-text {
  color: red;
}